
input[type="range"]::-webkit-slider-thumb {
    background-color: #393939; /* Change this to the desired color */
    width: 20px; /* Change the width of the thumb */
    height: 20px; /* Change the height of the thumb */
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Change cursor on hover */
    -webkit-appearance: none; /* Hide default styling */
    appearance: none;
  }

  .h-calc {
    height: calc(100vh - 72px);
  }
  .h-canvas{
    height: calc(100vh - 72px - 120px);
  }
  .h-expanded{
    height: calc(100vh - 72px);
  }
  .h-stock-images{
    height: calc(100vh - 72px - 80px);
  }
  .h-icons{
    height: calc(100vh - 72px - 80px);
  }

  .canvas-container {
    /* overflow: hidden; */
    position: relative;
    z-index: -10000;
  }
  .canvas{
    /* background-color: gray;
    padding: 8px; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
  }
  .canvas .canvas-image-container{
    background-color: white;
    padding: 16px;

  }
  .canvas .canvas-image-container .canvas-image{
    /* background-color: red;
    padding: 8px; */
    max-height: 100%;
    max-width: 100%;
    min-height: 50%;
    min-width: 50%;
    object-fit: contain;
  }