
input[type="range"]::-webkit-slider-thumb {
    background-color: #393939; /* Change this to the desired color */
    width: 20px; /* Change the width of the thumb */
    height: 20px; /* Change the height of the thumb */
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Change cursor on hover */
    -webkit-appearance: none; /* Hide default styling */
    appearance: none;
  }

  .h-calc {
    height: calc(100vh - 72px);
  }
  .h-canvas{
    height: calc(100vh - 72px - 120px);
  }
  .h-expanded{
    height: calc(100vh - 72px - 120px);
  }